# Proyecto Plan de Viaje (secretos y artefactos locales)
.streamlit/secrets.toml
credenciales.json
*.pdf

# Entorno virtual
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django / Flask / etc.
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Jupyter
.ipynb_checkpoints

# pyenv
# .python-version

# Environments
.env
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
